@import 'ember-paper';

img.user-profile {
  height: 40px;
  padding-right: 1em;
}
span.user-name {
  padding-right: 2em;
}

form.add-todo {
  padding-top: 0.75em;
}

div.loader {
  width: 128px;
  margin: auto;
  padding-top: 8em;
}
