@import 'ember-paper';

img.user-profile {
  height: 40px;
  padding-right: 1em;
}
span.user-name {
  padding-right: 2em;
}

form.add-todo {
  padding-top: 0.75em;
}

div.loader {
  width: 128px;
  margin: auto;
  padding-top: 8em;
}

span.todo-ago {
  display: block;
  margin: 0;
  font-size: 0.6em;
  line-height: 0.8em;
  img {
    height: 1.0em;
    padding-right: 0.1em;
    padding-left: 0.1em;
  }
}
