<form class="add-todo" {{action "addTodo" on="submit"}} >
  {{paper-input label="enter you new todo" type="text" value=description icon="add" icon-class="add" required=true hideAllMessages=true}}
</form>


<ul>
    {{#each todos as |todo|}}
      <li {{action "deleteTodo" todo}}>{{todo.description}}</li>
    {{/each}}
</ul>